body {
    text-align: center;
}

.cabeza{
    background-color: black;
    margin-top: -10px;
    margin: -10px;
    width: 1950px;
    height: 100px;
}

.cabeza h1{
    color: white;
    text-align: left;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.container1 {
    margin-top: 10px;
    margin-left: -10px;

}

#b2{
    margin-top: 10px;
    color: white;
    border-color: rgb(47, 219, 219);
    background-color: rgb(47, 219, 219);
    width: 200px;
    height: 50px;
}

.container1 form{
    color: white;
    text-align: left;
    position: absolute;
    top:45%;
    right: 20%;
}

.container1 h1{
    position: absolute;
    top:10%;
    right: 55%;
    color: white;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
}

.container1 p{
    position: absolute;
    top:70%;
    right: 62%;
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.container2 h3{
    color: rgb(47, 219, 219);
}

.container2{
    margin-top: 40px;
}


.container2 p{
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}


.container3 img{
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
}

.button1 button{
    margin-top: 50px;
    color: white;
    border-color: rgb(47, 219, 219);
    background-color: rgb(47, 219, 219);
    width: 200px;
    height: 50px;
}